<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<div id="carouselWrap">
    <p id="carouselPrev"><img src="../../assets/images/1.png" alt="前へ" /></p>
    <p id="carouselPrev"><img src="../../assets/images/1.png" alt="次へ" /></p>
    
    <div id="carousel">
        <div id="carouselInner">
            <ul class="column">
                <li><a href="#"><img src="../../assets/images/1.png" alt="" /></a></li>
                <li><a href="#"><img src="../../assets/images/2.png" alt="" /></a></li>
                <li><a href="#"><img src="../../assets/images/3.png" alt="" /></a></li>
                <li><a href="#"><img src="../../assets/images/4.png" alt="" /></a></li>
                <li><a href="#"><img src="../../assets/images/5.png" alt="" /></a></li>
            </ul>
            <ul class="cloumn">
                <li><a href="#"><img src="../../assets/images/6.png" alt="" /></a></li>
                <li><a href="#"><img src="../../assets/images/7.png" alt="" /></a></li>
                <li><a href="#"><img src="../../assets/images/8.png" alt="" /></a></li>
                <li><a href="#"><img src="../../assets/images/9.png" alt="" /></a></li>
                <li><a href="#"><img src="../../assets/images/10.png" alt="" /></a></li>
            </ul>
        </div>
    </div>
</div>